.topbar-main {
  width: 100%;
  height: 70px;
  background-color: #17202a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 5px 50px 5px 10px;
}

.Logo {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 0;
  cursor: pointer;
}

.BarLogo {
  width: 60px;
  height: 65px;
  padding: 5px;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-items li {
  color: #ffffff;
  margin: 0 2.5em;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

.react-icons {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #ffffff;
}

.react-icon {
  font-size: 28px; /* Increase icon size */
  margin-right: 15px;
  cursor: pointer;
}

.react-icon:hover {
  color: #5d6d7e;
}

.wallet-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.connect-wallet-btn, .disconnect-wallet-btn {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.connect-wallet-btn:hover, .disconnect-wallet-btn:hover {
  background-color: #2980b9;
}

.connected-wallet {
  display: flex;
  align-items: center;
  gap: 10px;
}

.wallet-address {
  background-color: #34495e;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap; /* Ensure the text doesn't wrap */
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis if the address is too long */
  max-width: 150px; /* Limit the width to fit in the topbar */
}

@media (max-width: 900px) {
  .nav-items {
    display: none;
  }

  .react-icons {
    gap: 10px;
  }

  .wallet-address {
    max-width: 100px; /* Reduce wallet address width on smaller screens */
  }
}

.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.custom-modal {
  background: #5d6d7e;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.custom-modal-body {
  margin: 20px 0;
}

.custom-modal-footer {
  display: flex;
  justify-content: space-between;
}

.cancel-button,
.confirm-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button {
  background-color: #f0f0f0;
  color: #17202a;
}

.confirm-button {
  background-color: #17202a;
  color: #ffffff;
}
