 .project-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  /* Header Styling */
  .project-header {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .header-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  
  .header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .header h1 {
    font-size: 48px;
    font-weight: bold;
    color: #17202a;
  }
  
  .header p {
    font-size: 14Gpx;
    margin: 20px 0;
    color: #17202a;
  }

  .container {
    display: flex; /* Use Flexbox for layout */
  }
  
  .header {
    flex: 0 0 400px; /* Fixed width for the header */
    padding: 20px; /* Add padding for better spacing */
    border-right: 1px solid #ccc; /* Optional: Add a border to separate sections */
    text-align: center;
  }
  
  .tab-content {
    flex: 1; /* Take the remaining space */
    padding: 20px; /* Add padding for better spacing */
  }
  
  
  .btn-primary {
    background-color: #f7654a;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* Tab Navigation Styling */
  .tab-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .tab-item {
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
    font-size: 16px;
    color: #555;
  }
  
  .tab-item.active {
    border-bottom: 2px solid #f7654a;
    color: #333;
  }
  
  .tab-content {
    text-align: left;
    padding: 20px;
    background-color: #f9f9f9;
    color: #17202a;
  }

  .tab-content p{
    color: #17202a;
  }
  
  /* Action Buttons */
  .action-buttons {
    text-align: center;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
  }

  .action-buttons button{
    width: 80%;
    margin: 10px 0;
    background-color: #17202a;
  }
  
  .btn-secondary {
    background-color: #17202a;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
  }
  
  /* Event Information Section */
  .event-info {
    background-color: #17202a;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;

    color: #f9f9f9;
  }
  
  h2{
    font-size: 28px;
    font-weight: bold;
    color: #17202a;
  }

  .timeline {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }
  
  .timeline-event {
    background: #f1f1f1;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    width: 30%;
  }
  
  .timeline-event:not(:last-child):after {
    content: '';
    width: 30px;
    height: 2px;
    background: #ccc;
    position: relative;
    left: 100%;
    top: 50%;
  }
  