body {
    background-color: #f1f1f1;
}
.title-container {
    background-color: rgb(241, 241, 243);
    padding-top: 3.75rem;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 1rem 3.75rem;
    text-align: center;
}

.header-container h1 + input, .header-container h2 + input {
    margin-top: 1.25rem;
    width: 100%;
    min-width: 15.625rem;
    max-width: 18.75rem;
}

.input-container {
    border: 0.125rem solid rgb(143, 145, 163);
    border-radius: 999px;
    /* background-image: url(data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'><path fill='hsl(0, 0%, 85%)' d='M20.667 18.667h-1.053l-0.373-0.36c1.6-1.867 2.427-4.413 1.973-7.12-0.627-3.707-3.72-6.667-7.453-7.12-5.64-0.693-10.387 4.053-9.693 9.693 0.453 3.733 3.413 6.827 7.12 7.453 2.707 0.453 5.253-0.373 7.12-1.973l0.36 0.373v1.053l5.667 5.667c0.547 0.547 1.44 0.547 1.987 0s0.547-1.44 0-1.987l-5.653-5.68zM12.667 18.667c-3.32 0-6-2.68-6-6s2.68-6 6-6 6 2.68 6 6-2.68 6-6 6z'></path></svg>); */
    background-position: calc(100% - 0.9375rem) center;
    background-repeat: no-repeat;
    background-size: 1.875rem;
    background-color: rgb(255, 255, 255);
    height: 3.125rem;
    padding: 0px 3.75rem 0px 1.25rem;
    font-size: 1rem;
    appearance: none;
    transition-duration: 0.3s;
}

.home-title {
    /* --fontFamily: "Inter",Verdana,-apple-system,"system-ui",Arial,Helvetica,sans-serif; */
    text-align: center;
    margin: 0;
    
    font-weight: 500;
    line-height: 1.1;
    color: #17202a;
    font-size: 4.75rem;
    /* background: linear-gradient(rgb(136, 108, 241) 55.41%, rgb(67, 41, 166) 100%) text; */
}


.project-cards {
    margin: 50px auto; 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 2fr));
  gap: 1rem; 
  justify-items: center; 
  max-width: 1200px;
  padding: 0 1rem; 
  }
  
  .taikai-card {
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #3d3d4e;
    width: 100%; 
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    height: 500px; 
    overflow: hidden; 
    position: relative;
  }

  .taikai-card {
    width: 320px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 20px;
    position: relative;
  }

  .taikai-card:hover {
    border-color: #17202a; /* Change border color on hover */
}
  
  .project-card img {
    width: 100%;
    height: 200px;
    max-height: auto; /* Fixed height for the image */
    object-fit: cover; /* Ensures the image fits without stretching */
    border-radius: 1rem 1rem 0 0;
    background-color: #e0e0e0;
  }

  .description {
    
    height: 100px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;

    p{
        font-family:"Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #3d3d4e;
    font-size: 14px;
    font-weight: 550;
    line-height: 21px;
    }
  }
  
  .read-more {
    color: #17202a;
    cursor: pointer;
  }
  
  .project-title {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin: 15px;
    color: #3d3d4e;
    font-weight: 600;
    font-optical-sizing: auto;
    letter-spacing: 0.05em;
    font-family:  "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    line-height: normal;
  }


  /* .tags-container {
    border: 0.125rem solid rgb(143, 145, 163);
    border-radius: 999px;
    background-position: calc(100% - 0.9375rem) center;
    background-repeat: no-repeat;
    background-size: 2.875rem;
    background-color: rgb(255, 255, 255);
    height: 1.125rem;
    padding: 0px 3.75rem 0px 1.25rem;
    font-size: 1rem;
    appearance: none;
    transition-duration: 0.3s;
} */



/*
.tag {
  background-color: #e0e0e0;
  color: #333;
  padding: 5px 10px;
 
  font-size: 12px;
  font-weight: 500;

} */


.view-button {
    background-color: #17202a;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
}


  
  .stage-label {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    color: #fff;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 0.5rem;
  }

  .stage-label.registration {
    background-color: #f39c12;  /* Orange for Registration */
  }
  
  .stage-label.development {
    background-color: #3498db;  /* Blue for Development */
  }
  
  .stage-label.judging {
    background-color: #e74c3c;  /* Red for Judging */
  }
  
  .stage-label.finished {
    background-color: #2ecc71;  /* Green for Finished */
  }

  .contributors-section {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    margin-top: 1.5px;
    font-size: 14px;
    color: #333;
  }
  
  .contributors-section i {
    margin-right: 3px; 
    color: #17202a;
  }
  
  .contributors-count {
    font-weight: bold;
    margin-right: 7px;
  }
  
  .prize-section {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
    margin-left: 20px;
  }
  
  .prize-label {
    font-weight: bold;
    color: #2C3E50;
    margin-right: 5px;
  }
  
  .prize-value {
    font-size: 16px;
    color: #5e81a7;
  }
  

  /* App.css */

  .project-form{
    background-color: #e0e0e0;
    width: fit-content;
    margin: auto;
  }
.project-form input,
.project-form textarea {
  display: flex;
  margin: 10px 0;
  padding: 10px;
  width: 300px;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project-card {
  border: 1px solid #ddd;
  padding: 15px;
  width: 300px;
}

.project-image {
  width: 100%;
  height: 200px; /* Fixed height */
  position: relative;
  overflow: hidden;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the area without distortion */
}


.add-button {
  background-color: #17202a;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 10px;
  text-align: center;
}

.add-project-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-project-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

.project-list {
  margin-top: 20px;
}

.project-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px 0;
}

/* AddProjectCard Styles */
.add-card {
  background-color: #f1f1f1;
  border: 2px dashed #aaa;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.add-card:hover {
  background-color: #e0e0e0;
}

/* TAIKAI-style project card */
.taikai-style {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

.taikai-style:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.taikai-style h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.taikai-style p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 5px;
}

.project-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contributors-count {
  font-size: 0.9rem;
  color: #17202a;
  display: flex;
  align-items: right;
  margin-top: 4px;
  margin-bottom: 0px;
  justify-content: right;
}

.contributors-count i {
  margin-right: 5px;
}



/* Icon style */
.fas.fa-users {
  font-size: 1.2rem;
  color: #17202a;
}

body {
    background-color: #f1f1f1;
}

.title-container {
    background-color: rgb(241, 241, 243);
    padding-top: 3.75rem;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 1rem 3.75rem;
    text-align: center;
}

.header-container h1 + input,
.header-container h2 + input {
    margin-top: 1.25rem;
    width: 100%;
    min-width: 15.625rem;
    max-width: 18.75rem;
}


.home-title {
    text-align: center;
    margin: 0;
    font-weight: 500;
    line-height: 1.1;
    color: #17202a;
    font-size: 4.75rem;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 1rem;
}

.project-card {
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #3d3d4e;
    border-radius: 1rem;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden; /* Prevent content overflow */
    position: relative;
}


.project-image img {
    width: 100%;
    height: 200px;
    /* object-fit: cover; */
    border-radius: 1rem 1rem 0 0;
    background-color: transparent;
}

.project-title {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 15px;
    color: #3d3d4e;
    font-weight: 600;
}

.project-description {
    padding: 0 15px;
    font-size: 14px;
    color: #555;
}

.project-description {
  /* max-height: 60px;  */
  /* overflow: hidden; */
  /* position: relative; */
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  /* display: -webkit-box; */
  /* -webkit-line-clamp: 3; */
  /* -webkit-box-orient: vertical; */
}



.project-info {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contributors-count {
  font-size: 12px;
  color: #888;
  display: flex;
  align-items: center;
}

.contributors-count i {
  margin-right: 5px;
  color: #666;
}


.project-state-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}



.tags-container{
  padding: 1px;
  margin: 1px;
}
.tags-container .tag {
  display: inline-block;
  background-color: #f0f0f0;
  color: #333;
  font-size: 12px;
  padding: 5px;
  border-radius: 3px;
  margin-right: 5px;
}





.card-header {
  position: relative;
}

.project-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom: 1px solid #eaeaea;
}

.project-state-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}

.project-state-badge.finished {
  background-color: white;
}

.project-state-badge.development {
  background-color: blue;
}

.project-state-badge.judging {
  background-color: orange;
}

.project-state-badge.seeking-funding {
  background-color: purple;
}

.card-body {
  padding: 15px;
}

.project-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}



.tags-container {
  margin-bottom: 10px;
}

.tag {
  display: inline-block;
  background-color: #f0f0f0;
  color: #333;
  font-size: 12px;
  padding: 5px;
  border-radius: 3px;
  margin: 1px 0;
}

.contributors {
  font-size: 12px;
  color: #888;
  display: flex;
  align-items: center;
}

.contributors i {
  margin-right: 5px;
  color: #666;
}

.detailss {
  /* Other styles */
  padding: 10px;
  max-width: 300px; /* Set your preferred width */
}

.project-description {
  max-height: 90px; /* Set a fixed height for the description */
  overflow: hidden; /* Hide overflow text */
  transition: max-height 0.3s ease; /* Smooth transition for expanding */
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.project-description.expanded {
  max-height: none; /* Remove the height restriction when expanded */
}

.read-more-btn {
  color: #17202a; /* Match your badge color or customize */
  cursor: pointer;
  text-decoration: underline; /* Makes it look clickable */
  font-size: 12px;
  align-items: center;
}
